html{
    font-family: var(--font);
}

.container{
    display: grid;
    grid-template-areas: "highlight-video-content propaganda" 
                        "highlight-video-content videos-recommendation";
    grid-template-columns: 1fr 270px;     
    grid-template-rows: 56px 1fr;                   
    max-width: 900px;
    background-color: var(--background);
    padding: 35px;
}

.highlight-video-content{
    grid-area: highlight-video-content;
}

.highlight-video-content img{
    margin-bottom: 12px;
}

.description{
    margin-bottom: 8px;
}

.highlight-video-title{
    font-size: 18px;
}

.highlight-video-views{
    font-size: 14px;
}

.video-description{
    font-size: 16px;
}

.advertising{
   grid-area: propaganda;
}

.videos-recommendation{
    grid-area: videos-recommendation;
}

.recommended-video{
    display: flex;
    margin-bottom: 8px;
}

.video-details{
    margin-bottom: 5px;
    margin-left: 4px;
}

.video-details h2{
    font-size: 14px;
}

.video-details p{
    font-size: 11px;
}

