body{
    background-color: var(--background);
    font-family: var(--font);
}

.container{
    display: grid;
    grid-template: 1 / repeat(2, minmax(200px, 1fr));
}

.container aside{
    grid-area: 1 / 2;
}

.highlight-video-content{
    grid-area: 1 / 1;
    margin: 9px;
}


.highlight-video, .advertising, .thumbnail{
    background-color: var(--hard-gray);
}

.highlight-video{
    background-color: var(--hard-gray);
    width: 543px;
    height: 217px;
    flex-shrink: 0;
}
.description{
    margin-top: 12px;
    gap: 8px;
}

.highlight-video-title{
    font-size: 18px;
}

.highlight-video-views{
    font-size: 14px;
}

.video-description{
    font-size: 16px;
}

.advertising{
    display: flex;
    font-size: 13px;
    
}

.advertising p{
    padding: 21px;
    margin: auto;
}

.recommended-video{
    display: flex;
    margin: 8px;

}

.thumbnail{
    width: 101px;
    height: 71px;
    flex-shrink: 0;
}

.video-details{
    gap: 5px;
    padding: 4px;
}

.video-details h1{
    font-size: 14px;
}

.video-details p{
    font-size: 11px;
}

